<h1>Login Here!</h1>

<%= erb :_errors, locals: {errors: @errors} %>

<form action='/sessions' method='POST'>
  Username: <input type='text' name='user[username]', placeholder='Username'>
  <br>
  Password: <input type='password' name='user[password]' placeholder='Password'>
  <br>
  <input type='submit' value='Login'>
</form>
