
<p id="end_of_game">
Great job! You answered <%= @round.correct_on_first_try.length %> questions on the first try out of <%= @round.cards.count %> questions, and got all the questions after a total of <%= @round.guesses.length %> guesses!
</p>


