<h1><%= @user.username %>'s Profile</h1>
<a href='/decks/new'>Create a Deck</a>
<a href='/decks/:id/edit'>My Decks</a>
<a href='/users/logout'>Logout</a>

<h3><%= @user.username %>'s Flashcard Statistics</h3>