<h3>Create a Question below</h3>

<form class="card_form" method="post" action="/cards">
  <label for="question-input">Question:</label>
  <textarea class="card_form_input" id="question-input" type="text" name="question"></textarea><br>

  <label for="answer_input">Answer:</label>
  <textarea class="card_form_input" id="answer_input" name="answer"></textarea><br>

  <input type="submit" value="Add Question">
  <input type="hidden" name="deck_id" value="<%= @deck_id %>">
</form>
