<div class="q_a">
<span class="card_question"><%= @card.question %></span>
<form class="card_answer" method="get" action="/cards/check">
  <input type="text" name="answer">
  <input type="submit" value="Submit Answer">
</form>
</div>
