<%= erb :_errors, locals: {errors: @errors} %>

<h1>Create a new deck:</h1>

<table>
	<tr>
		<td>
			<h2>Your deck name here:</h2>
			<form action="/decks" method="post">
  				<input type="text" name="deck[name]" placeholder="Deck Name">
		</td>
	</tr>

	<tr>
		<td>
			<h2>Write a desciption of your deck here</h2>
			<textarea rows="3" cols="50" type="text" name="deck[description]" value="Write a description of your deck here."></textarea>
  			<input type="hidden" name="deck[creator_id]" value="<%= @user.id %>">
		</td>
	</tr>

	<tr>
	    <td>
	      <input type="submit" value="Create your deck!">
	      </form>
	    </td>
  	</tr>
</table>
