<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="header">
    <h1 id="quizzical"><a href='/'>Quizzical</a></h1>
    <nav>
        <a href="/">Home</a>
          <% if session[:user_id] %>
            <% @user = User.find_by(id: session[:user_id]) %>
            <a href="/users/<%= session[:user_id] %>"><%= @user.username %></a>
          <% else %>
             <a href="/users/new">Register</a>
          <% end %>
          <% if session[:user_id] %>
              <form action="/sessions" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type=submit value="Log Out">
              </form>
          <% else %>
              <form action="/sessions" method="get">
                <input type=submit value="Log In">
              </form>
          <% end %>
    </nav>
  </div>

  <div id="everything_below_nav_bar">
    <%= yield %>
  </div>

  <footer>
    <h3>© Copyright 2016</h3>
    <h4>Daniel Homer, Kevin Perkins, Jonathan Schwartz</h4>
  </footer>

</body>
</html>
